/* This is the CSS document for Lee Wilders personal website - https://l-w-9.github.io/personal-website/ */

body {
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  background-color: black;
}

.header {
  text-transform: uppercase;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
}

.strapline {
  color: blue; 
}

.profilepic {

}

.aboutme {
  margin-bottom: 2rem;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
}

.skills {
  display: inline-block;
  padding: 0.5rem;
  background-color: gray;
  margin-bottom: 2rem;
}

caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 0.5rem;
  line-height: 2;
}

.contactform {
  margin-top: 2rem;
  border-style: solid;
  border-color: blue;
  padding: 0.5rem;
  width: 200px;
}

.linkedin {
  margin-top: 2rem;
  border-style: solid;
  border-color: blue;
  padding: 0.5rem;
  width: 200px;
}

.github {
  border-style: solid;
  border-color: blue;
  padding: 0.5rem;
  margin-bottom: 2rem;
  width: 200px;
}

a:visited {
  color: blue;
}
