/* This is the CSS document for Lee Wilders personal website - https://l-w-9.github.io/personal-website/ */

body { 
	font-family: Verdana, sans-serif;
	line-height: 1.5;
	background-color: #333333;
}
